* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*estilos de la seccion body*/
body {
 background-color: black;
 color: white;
 background-color: #000104;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ec0a0a' fill-opacity='0.28'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-size: 16px;
font-family: 'Oswald', sans-serif;
}

/*estilos de la etiqueta a*/
a {
    color: white;
    text-decoration: none;
}

/*estilos de la etiqueta ul*/
ul{
    list-style: none;
}

/*estilos de la clase contanier*/
.contanier {
    width: 90%;
    margin: auto;

    
  
}




/*estilos de la etiqueta nav-main*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

/*estilo de la imagen*/
.nav-brand{
    width: 75px;

    
}

/*estilo de las etiquetas ul */
.nav-main ul{
    display: flex;
    
}


/*estilo de las etiquetas li, dentro de los ul*/
.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 6px;
    
}


/*estilo para el diseño de los botones en el menu*/
.nav-main ul li a:hover{
    border-bottom: 6px solid white;

}



/*estilo de etiquetas para separar el menu de la imagen*/

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*estilo para editar showcase*/

.showcase{
    width: 100%;
    height: 418px;
    background: url('/img/aplicaciones.png') no-repeat center center/cover;
    padding-bottom: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   text-align: justify;
  

}

/*estilo para los botones*/

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;

}

.btn:hover{
    opacity: .7;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

hr{
     margin: 10px 0;
}

.form{
    padding: 3px;

}

.squad{
    padding: 3px;
    text-align: start;
    border: 1px solid black;

    

}

.txt{
    padding: 15px;
    border: 1px solid black;
    
}

.table{
    background: rgb(116, 131, 116);
   
   
   
}

.tr{
    background-color: rgb(2, 117, 2);
    padding: flex;
    border-color:rgb(82, 18, 18) 20px;
}

.td{
    background-color: rgb(53, 202, 53);
}

.caption{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header-table{
    text-align: justify;
     
}

.header-form{
    text-align: justify;
     
}
.header-texto{
    text-align: justify;
     
}

.header-listaordenada{
    text-align: justify;
     
}

.list_ol{
    width: 80%;
    margin: 20px;
    font-family: Geneva;
}

.list_ul{
    width: 80%;
    margin: 20px;
    font-family: Geneva;
}



