
h1{ 
    color: blueviolet;
    background-color: rgb(228, 150, 198);    
    padding: 25px;
    text-align: center;
    border: rgb(105, 4, 136) 4px solid;
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    letter-spacing:  8px;
    margin: 0;
}

h2{ 
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 2px;
}

ul{
    background-color: cornflowerblue;
    height: 230px;
    margin: 0;
    border: royalblue 4px solid;
    
}

li{
    padding: 3px;
    font-size: 25px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: rgb(0, 0, 0);
    background: rgb(28, 190, 240);
    border: rgba(41, 31, 190, 0.801) 2px solid;
    margin: 2;
    padding: 20px;
    font-size: 19px;
    text-align: justify;
    height: 150px;
 
}

span{
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    text-align: left;
    padding-left: 33px;
    
}

a{
    text-decoration: none;
}




